 pip install whois
 pip install instaloader
 pip install discord.py==1.7.3
 pip install emailrep
 pip install requests
 pip install phonenumbers
 pip install pystyle
 pip install cloudscraper
 pip install fake_useragent
 pip install uuid
 pip install fade
 pip install py-socket
 pip install aiohttp
 pip install selenium
 pip install holehe
 pip install deep_translator
 pip install colorama
 pip install instaloader
 pip install blessed
 pip install setuptools
